<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contabilidad Damián
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contabilidad Damián</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gestión de Clientes</ion-card-title>
        <ion-card-subtitle>Administra la información de tus clientes</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <p>Accede al listado completo de clientes con sus saldos y información de contacto.</p>
        
        <ion-button expand="block" routerLink="/client-list" class="btn-clientes">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          Ver Listado de Clientes
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
